#nav-bar {
  background: #00a087;
  position: fixed;
  height: 80px;
  color: #e8fdff;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  width: 100%;

}

img {

  width: 80px;
  height: 80px;

}


#nav-bar .logo {
  float: left;

}

#nav-bar .header {
  font-size: 200%;
  line-height: 2;
  float: left;
  padding: 10px;
}

#nav-bar .compose-button {
  float: left;

}




